<div  *ngIf="(state=='error' && alertShown)" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Error </strong> {{message}}
  <button type="button" class="close" (click)="closeAlert()" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container">
  <!-- all Employees card  -->
  <div class="cards">
   
    <div class="firstrow">
      <div class="card">
        <a routerLink="/allemp">
    
        <span>
          <h3>Total Employees</h3>
          <p>{{totalemp}}</p>
        </span>
  
      </a>
      </div>
      
      <div class="card">
        <a routerLink="/departments">
   
     
          <span>
            <h3>Total Departments</h3>
            <p >{{totaldept}}</p>
          </span>
        </a>
  
      </div>
    </div>

    <div class="secondrow">
      <div  class="card">
        <a routerLink="/jobs">
      
        <span>
          <h3>Jobs</h3>
          <P>{{totaljobs}}</P>
        </span>
          
      </a>
      </div>
      <div  class="card">
        <a >
      
        <span>
          <h3>Sections</h3>
          <P>{{totalsects}}</P>
        </span>
          
      </a>
      </div>
    </div>
   


      <!-- Total Departments-->
    
   


      <!-- Total Dep-->
    

     
  
  </div>
  







    
<!-- latest users in system -->
<!-- 
<div class="stats">

  <div class="latest_users">
    <h2>Recent Employees</h2>
    <div >
      <table class="users" *ngIf="latest_emps">
        <tr>
          <th>Employee Name</th>
          <th>Department</th>
          <th>Hire Date</th>
        </tr>
    
        <tbody *ngFor="let emp of latest_emps">
          <tr>
            <td>{{emp.employee_name}}</td>
            <td>{{emp.department_name}}</td>
            <td>{{emp.hire_date?.substring(0,10)}}</td>
      
          </tr>
        </tbody>
      
      </table>
    </div>
  </div>

  <div class="top_dept_emp">
    <h2>
      TOP Employee
    </h2>
    <div >
      <table class="users" *ngIf="latest_emps">
        <tr>
          <th>Employee Name</th>
          <th>Department</th>
          <th>Total Attend</th>
        </tr>
    
        <tbody *ngFor="let emp of latest_emps">
          <tr>
            <td>{{emp.employee_name}}</td>
            <td>{{emp.department_name}}</td>
            <td>{{emp.hire_date?.substring(0,10)}}</td>
      
          </tr>
        </tbody>
      
      </table>
    </div>

  </div>

</div> -->

<div class="sect">

</div>
</div>




