<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
  <div  *ngIf="(state=='error' && alertShown)" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Error </strong> {{message}}
    <button type="button" class="close" (click)="closeAlert()" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <!-- all Employees card  -->

      <div class="cards">

        <!-- first row -->
          <div class="row justify-content-md-center">
            <div class="col-4">
              <a routerLink="/allemp">

              <span>
                <h3>Total Employees</h3>
                <p>{{totalemp}}</p>
              </span>

            </a>
            </div>

            <div class="col-4">
              <a routerLink="/departments">


                <span>
                  <h3>Total Departments</h3>
                  <p >{{totaldept}}</p>
                </span>
              </a>

            </div>
          </div>
          <div class="w-100"></div>
 <!-- second row -->
          <div class="row justify-content-md-center">
            <div  class="col-4">
              <a routerLink="/jobs">

              <span>
                <h3>Jobs</h3>
                <P>{{totaljobs}}</P>
              </span>

            </a>
            </div>
            <div  class="col-4">
              <a >

              <span>
                <h3>Sections</h3>
                <P>{{totalsects}}</P>
              </span>

            </a>
            </div>
          </div>





          <!-- Total Departments-->




          <!-- Total Dep-->




      </div>


  <!-- latest users in system -->

  <div class="stats">

    <div class="row justify-content-md-center align-items-center">

      <div class="col">
              <h2>Recent Employees</h2>
        <div class="table-responsive">
          <table class="users" *ngIf="latest_emps">
            <tr>
              <th scope="col">Employee Name</th>
              <th scope="col">Department</th>
              <th scope="col">Hire Date</th>
            </tr>

            <tbody *ngFor="let emp of latest_emps">
              <tr>
                <td>{{emp.employee_name}}</td>
                <td>{{emp.department_name}}</td>
                <td>{{emp.hire_date?.substring(0,10)}}</td>

              </tr>
            </tbody>

          </table>

        </div>

      </div>

      <!-- second table -->
      <div class="col">
        <h2>
          TOP Employee
        </h2>
        <div class="table-responsive">
          <table class="users" *ngIf="latest_emps">
            <tr>
              <th scope="col">Employee Name</th>
              <th scope="col">Department</th>
              <th scope="col">Hire Date</th>
            </tr>

            <tbody *ngFor="let emp of latest_emps">
              <tr>
                <td>{{emp.employee_name}}</td>
                <td>{{emp.department_name}}</td>
                <td>{{emp.hire_date?.substring(0,10)}}</td>

              </tr>
            </tbody>

          </table>

        </div>
        <div >

        </div>

      </div>
    </div>



  </div>

  </div>

</body>
</html>







