

  <div  *ngIf="(state=='success' && alertShown) " class="alert  alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div  *ngIf="(state=='error' && alertShown)" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Error </strong> {{message}}
    <button type="button" class="close" (click)="closeAlert()" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <input type="text" class="employeename" [(ngModel)]="filter_emp" placeholder="Employee Name" *ngIf="employees.length>=1">
  <div class="empty_container">
    <div class="empty_container" *ngIf="employees.length==0">
      <h2>

        Their are no Employees yet
      </h2>
     <img class="imgsource" src="./assets/empty.png" alt="empty"/>


    </div>
  </div>
  <div class="table-responsive">
    <table id="table" data-toggle="table" data-search="true" matSort (matSortChange)="sortEmps($event)" class="table table-striped table-hover table-bordered table-sm" *ngIf="employees.length>=1">

      <thead>
        <tr >

          <th class="th-sm"  mat-sort-header="carid" scope="col">Card ID</th>
          <th class="th-sm" mat-sort-header="empname"  scope="col">Employee Name</th>
          <th class="th-sm"  mat-sort-header="deptname" scope="col">Department Name</th>
          <th class="th-sm"  mat-sort-header="sectionname" scope="col">Section Name</th>
          <th class="th-sm"  mat-sort-header="jobtitle" scope="col">Job Title</th>
          <th class="th-sm"  mat-sort-header="role" scope="col">Role</th>
          <th class="th-sm"  mat-sort-header="status" scope="col">Status</th>
          <th class="th-sm"  mat-sort-header="hiredate" scope="col">HireDate</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of sortedEmps|filterEmpName:filter_emp" scope="row" (click)="openDialog(emp)"  matTooltip="Tap To Edit">

          <td>{{emp.card_id}}</td>
          <td>{{emp.employee_name}}</td>
          <td>{{emp.department_name}}</td>
          <td>{{emp.sect_code=='1'?"Product Development":'2'?"Manufacturing Solutions":"Sheet Metal"}}</td>
          <td>{{emp.job_title}}</td>
          <td> {{emp.rule}}</td>
          <td> {{emp.status=="1"?"Active":"InActive"}}</td>
          <td> {{emp.hire_date?.substring(0,10)}}</td>

        </tr>

      </tbody>
    </table>
  </div>


