.container {
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
  width: 700px;

  margin: auto;
  background-color: #ffffff;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 20px;
  align-content: center;
}
h1 {
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}
.manager_class {
  margin-top: 10px;
  width: 100%;
}

/* .row .custom-select {
  margin-bottom: 10px;
} */

input[type="submit"] {
  border: none;
  width: 120px;
  border-radius: 10px;
  background: #084cdf;
  padding: 10px 20px;
  cursor: pointer;
  align-content: center;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
