
.card {
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
  width: 700px;
  height: 85vh;
  margin: auto;
  background-color: #ffffff;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:20px;
  align-content: center;

}
.card h1{
  text-align: center;
}
.cardid_date{
  width:40%;
  float: left;
  padding-right: 20px;
  margin-bottom: 20px;
}

.vacation_child{
  width: 50%;
  float: left;
  padding-right: 20px;
  margin-bottom: 20px;

}

.job_type{
  width: 50%;
  float: left;
  margin-bottom: 10px;
}


input[type="submit"]{

  border: none;
  width:120px;
    border-radius: 10px;
   background: #084cdf;
  padding: 10px 20px;
  cursor: pointer;
  align-content: center;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  }
